{% extends "base.html" %} 
{% block content %}
<div class="col-md-8">
  <div class="headings "><h3>Our Sidebar</h3>
  <h1  >Your Collection:</h1> </div> 
  {% for book in books %}
    <article class="media content-section">
      <div class="media-body">
        <img src={{ url_for('static', filename= book[7]) }} />
        <h4><a class="article-title" href="#">{{ book[2] }}</a></h4>
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ book[3]}}</a>
          <small class="text-muted">{{ book[4] }}</small>
        </div>
      </div>
    </article>
  {% endfor %}
</div>
{% endblock %}