w{% extends "base.html" %} 
{% block content %}
<div class="col-md-8">
  <div class="headings "><h3>Our Sidebar</h3>
  <h1  >Search results:</h1> </div> 
    {% for book in books %}
      <article class="media content-section">
        <div class="media-body">
          <img src={{ url_for('static', filename= book[3]) }} />
          <h4><a class="article-title" href="#">{{ book[0] }}</a></h4>
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ book[1]}}</a>
            <small class="text-muted">{{ book[2] }}</small>
          </div>
        </div>
      </article>
      {% endfor %}
</div>
<!-- <div class="col-md-4">
  <div class="content-section">
    <div class="headings "> <h3>Our Sidebar</h3></div>
    <p class='text-muted'>You can put any information here you'd like.
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="{{ url_for('book.add_book') }}">Add A New Audiobook</a></li>
        <li class="list-group-item list-group-item-light"><a href="{{ url_for('book.add_book_author') }}">Add A New Author/Audiobook</a></li>
        <li class="list-group-item list-group-item-light"><form method="POST" action="">
          {{ form.search }}
          <a href="{{ url_for('index.search_res') }}"></a>
        </form></li>
      </ul>
    </p>
  </div>
</div> -->
{% endblock %}