{% extends "base.html" %} 
{% block content %}
<div class="col-md-7">
  <div class="headings "> <h3>Our Sidebar</h3></div>  
  {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <img src={{ url_for('static', filename= post[5]) }} />
            <h4><a class="article-title" href="#">{{ post[2] }}</a></h4>
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post[4]}}</a>
              <small class="text-muted">{{ post[3] }}</small>
            </div>
          </div>
        </article>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="content-section">
      <div class="headings "> <h3>Our Sidebar</h3></div>  
      <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light"><a href="{{ url_for('new_book.add_book') }}">Add A New Audiobook</a></li>
          <li class="list-group-item list-group-item-light"><a href="{{ url_for('new_book_author.add_book_author') }}">Add A New Author/Audiobook</a></li>
          <li class="list-group-item list-group-item-light"><form method="POST" action="">
            {{ form.search }}
            <a href="{{ url_for('search.search_res') }}"></a>
          </form></li>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}